#!/usr/bin/env bash

sample_api() {
  curl -XPOST \
    -H'content-type: application/json' \
    "https://$HOST/Email/send" \
    -d@<(cat <<JSON
{
  "to": ["$TO"],
  "subject": "Hello world!",
  "text": "Goodbye world!"
}
JSON
)
}

sample_api
